<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Sender</title>
    <th:block th:replace="fragments/cdnFragment.html :: cdn"></th:block>
</head>
<body>

<div class="container md-4">
    <div class="row">
        <h1> Email Form</h1>
        <div class="col-md-6">
<!--            this is form section-->
            <form th:action="@{/email/send}" method="post" th:object="${emailDto}" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="receiver" class="form-label">Receivers</label>
                    <input type="email" class="form-control" id="receiver" th:field="${emailDto.receiver}">
                </div>

                <div class="mb-3">
                   <label for="cc" class="form-label">Receivers</label>
                   <textarea type="text" class="form-control" id="cc" th:field="${emailDto.cc}" rows="3"></textarea>
               </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="title" th:field="${emailDto.subject}" >
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="email" class="form-control" id="description" th:field="${emailDto.description}" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="file" class="form-label">Receivers</label>
                    <input type="file" class="form-control" id="file" th:field="${emailDto.file}" multiple>
                </div>
                <button type="submit" class="btn btn-primary"> Submit</button>
            </form>
            <div if="${message}" clss="alert alert-success" th:text="${message}"></div>
        </div>
    </div>

</div>
</body>
</html>